.informacoes-body {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.informacoes-title {
  margin-top: 20vh;
  text-align: center;
}

.informacoes-subtitle {
  font-weight: 400;
  text-align: center;
  margin: 30px 0;
}

.informacoes-paragraph {
  text-align: center;
}

.channels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.channels-table {
  align-self: center;
  border-collapse: collapse;
}

.channel-name {
  text-align: right;
  border-right: 1px solid black;
  padding-right: 10px;
  max-width: 20vw;
  padding-bottom: 15px;
}

.channel-adress {
  padding-left: 10px;
  max-width: 20vw;
  padding-bottom: 15px;
}


